.register-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 12px 0;

    .card-in {
        width: 350px;
        background-color: white;
        border: 1px rgb(200, 200, 200) solid;
        padding: 22px 40px;
        margin: 5px 0;

        .header {

            h3 {
                color: #8e8e8e;
            }
    
            .divider {
                color: #8e8e8e;
            }
 
            img {
                width: 175px;
                filter: opacity(0.8);
            }
        }
        a {
            font-weight: 600;
        }
        
        h5 {
            color: #8e8e8e;
            font-weight: 400;
        }
    }
}