.grid-center {
    display: flex;
    justify-content: center;

    .posts-wraper {
        display: grid;
        grid-template-columns: 28vw 28vw 28vw;

    }
}

@media only screen and (max-width: 415px) {
    .grid-center {
        
        .posts-wraper {
            grid-template-columns: 33vw 33vw 33vw;
        }
    }
}