.login-component {
    .card-in {
        width: 350px;
        background-color: white;
        border: 1px rgb(200, 200, 200) solid;
        padding: 22px 40px;
        margin: 5px 0;

        .header {
            img {
                width: 175px;
                filter: opacity(0.8);
            }
        }
        
        .form {
            margin-top: 40px;
        }

        h4 {
            color: #385185;
        }

        .divider {
            color: #8e8e8e;
            margin: 0;
        }

        h5 {
            color: rgba(var(--fe0,0,55,107),1);
            font-weight: 400;
            cursor: pointer;
        }

        a {
            font-weight: 600;
        }
    }
}