.post-profile-container {
    display: flex;
    margin: 3vw 3vw;

    .post {
        width: 25vw;
        height: 25vw;
        max-width: 600px;
        background-color: white;
        border: 1px solid rgb(200, 200, 200);
        margin: 30px 0 10px 0;

         .body {
            width: 25vw;
            height: 25vw;
            
            img {
                width: 25vw;
                height: 25vw;
                object-fit: cover;
            }
        }
    }
}

@media only screen and (max-width: 415px) {
    .post-profile-container {        
        // max-height: 100px;
        margin: 0 2vw;

        .post {
            width: 25vw;
            height: 25vw;
    
            .body {
                width: 25vw;
                height: 25vw;
    
                img {
                    width: 25vw;
                    height: 25vw;
                }
            }
        }
    }
}