.post-profile-container {
    margin: 0;

    .post {
        width: 25vw;
        height: 25vw;
        max-width: 600px;
        background-color: white;
        border: 1px solid rgb(200, 200, 200);
        margin: 20px 10px;
        overflow: hidden;
        position: relative;        
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            object-fit: cover;
            width: fit-content;
            min-width: 25vw;
            min-height: 25vw;
        }
    }
}

@media only screen and (max-width: 415px) {
    .post-profile-container {        
        width: 33vw;
        height: 33vw;

        .post {
            width: 33vw;
            height: 33vw;
            margin: 0;
    
             .body {
                width: 33vw;
                height: 33vw;
                
                img {
                    width: 33vw;
                    height: 33vw;
                }
            }
        }
    }
}