.post-profile-container {
    margin: 0;

    .post {
        width: 25vw;
        height: 25vw;
        max-width: 600px;
        background-color: white;
        border: 1px solid rgb(200, 200, 200);
        margin: 20px 10px;

         .body {
            width: 25vw;
            height: 25vw;
            
            img {
                width: 25vw;
                height: 25vw;
                object-fit: cover;
            }
        }
    }
}

@media only screen and (max-width: 415px) {
    .post-profile-container {        
        width: 33vw;
        height: 33vw;

        .post {
            width: 33vw;
            height: 33vw;
            margin: 0;
    
             .body {
                width: 33vw;
                height: 33vw;
                
                img {
                    width: 33vw;
                    height: 33vw;
                }
            }
        }
    }
}