.ant-modal.showFollowings {
    .ant-modal-content {
        max-width: 400px;
    
        .ant-modal-header {
            border-radius: 12px 12px 0 0;
            padding: 10px 16px;
            
            .ant-modal-title {
                text-align: center;
            }
        }
    }
    
    .ant-list-item {
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    
    .userFollowings{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        padding: 8px 16px;
    
        .imgName {
            display: flex;
    
            img {
                width: 38px;
                height: 38px;
                border-radius: 80px;
            }
    
            .names {
                display: flex;
                flex-direction: column;
                margin-left: 10px;
            }
        }
    }
}