.profile {
    display: flex;
    justify-content: center;
    height: 218px;
    width: 100vw;
    padding: 30px;
    
    .photo {
        display: flex;
        align-items: center;
        width: 150px;
        height: 150px;
        margin-right: 30px;
        
        img {
            width: 150px;
            height: 150px;
            border-radius: 80px;
            border: 1px rgb(200, 200, 200) solid;
        }
        
        img:hover {
            cursor: pointer;
        }
        
        input[type=file] { 
            visibility: hidden;
            position: absolute;
        }
    } 

    .info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0 30px;
        width: 400px;

        .name {
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            h1 {
                font-family: NoahRegular;
            }
            
            .editSettings {
                display: flex;
                align-items: center;
            }

            .follow, .unfollow, .edit {
                margin: 0 0 10px 20px;
            }

            h2 {
                margin-left: 20px;
            }
        }

        .datas {
            display: flex;
            align-items: flex-start;

            .data {
                margin-right: 30px;
            }
        }

        .description {
            max-width: 450px;
            text-align: left;
        }
    }
}

.bold {
    font-weight: bold;
}

@media only screen and (max-width: 415px) {
    .profile {
        max-height: 125px;
        margin: 0;

        .photo {
            width: 77px;
            height: 77px;
            margin-right: 0;
        
            img {
                width: 77px;
                height: 77px;
            }
        }

        .info {
            margin-left: 0;
            max-width: 60vw;
    
            .name {
                display: flex;
                flex-direction: column;
                padding-left: 15px;
                
                // .editSettings {
                //     margin-top: 15px;
                // }

                h1 {
                    margin: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }

    
    .usernameDescription {
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        text-align: start; 

    }
    .datasMobile {
        display: flex;
        justify-content: center;


        .data {
            display: flex;
            flex-direction: column;
            margin: 0 15px;
        }
    }

    .ant-divider-horizontal {
        margin: 12px 0;
    }
}
