.profile {
    display: flex;
    justify-content: center;
    height: 218px;
    width: 100vw;
    
    .photo {
        display: flex;
        align-items: center;
        
        img {
            width: 150px;
            height: 150px;
            border-radius: 80px;
            //padding: 5px;
            border: 1px rgb(200, 200, 200) solid;
        }
        
        img:hover {
            cursor: pointer;
        }
        
        input[type=file] { 
            visibility: hidden;
            position: absolute;
        }
    }
    
    

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 30px;

        h1 {
            font-family: NoahRegular;
        }

        .datas {
            display: flex;
            align-items: flex-start;

            .data {
                margin-right: 30px;
            }
        }
    }
}

