header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 55px;
    padding: 0 20px;
    background-color: white;
    border-bottom: 1px rgb(200, 200, 200) solid;

    .logo {
        margin: 13px 0;
    }

    input {
        text-align: center;
    }

    .icons {
        display: flex;        
        
        .icon {
            margin: 0 10px;
            font-size: 22px;
            display: flex;
            align-items: center;
            cursor: pointer;

            img {
                width: 25px;
                height: 25px;
                border-radius: 80px;
                padding: 2px;
                border: 1px black solid;
                
            }
        }
    }
}