.list {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 20px;

    .dataSettings {
        display: flex;
        justify-content: center;
        width: 100%;
        cursor: pointer;
        padding: 10px 50px;
    }
}
