.ant-modal.post-profile{
    max-height: 50vh;

    .ant-modal-content {
        width: 80vw;
        border-radius: 0;

        .ant-modal-body {
            
            .big-post-container {
                display: flex;
            
                img {
                    width: 50vw;
                    max-height: 90vh;
                }

                .modal-body {
                    min-width: 25vw;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .header-container {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-bottom: 1px solid rgb(200, 200, 200);
                        padding: 5px 0;
                        width: 100%;
                        
                        .header {
                            display: flex;
                            align-items: center;
                            font-size: 15px;
                            width: 100%;
                            padding: 6px 16px;
                            font-weight: 500;

                        }

                        .icon {
                            margin-right: 10px;
                            margin-top: 10px;
                        }
                    }
                    
                    .imgAvatar {
                        width: 32px;
                        height: 32px;
                        border-radius: 80px;
                        cursor: pointer;
                        align-self: flex-start;
                    }

                    .comments {
                        display: flex;
                        align-items: center;
                        font-size: 15px;
                        width: 100%;
                        padding: 6px 16px;
                        font-weight: 500;
                    }

                    .datePost {
                        width: 100%;
                        margin-left: 10px;
                        display: flex;
                    }

                    .like-container {
                        width: 100%;
                        text-align: left;
                        cursor: pointer;
                        border-bottom: 1px solid rgb(220, 220, 220);
                        border-top: 1px solid rgb(220, 220, 220);
                        
                        .like {
                            margin: 0 0 5px 15px;
                            
                            h1 {
                                margin: 0;
                            }
                        }
                    }

                    .comment {
                        width: 100%;
                        display: flex;
                        padding-top: 10px;
                        
                        .ant-row.ant-form-item.textarea {
                            width: inherit;

                            .ant-input {
                               border:none;
                               resize:none; 
                            }
                        }
                    }
                }
            }
        }
    }
}